/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Montserrat', helvetica, arial, sans-serif;

// Size
$mainFontColor           : #f0f0f0;
$mainFontSize            : calc(0.2rem + 2vh);
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;
$headerHeight            : 6vh;
$footerHeight            : 4vh;

// Main color
$sec-bg-color            : #222;
$bg-color                : #323232;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #c0c4cc;

// Border Color
$border-base             : #cdcfe6;
$border-light            : #e4e7ed;
$border-lighter          : #ebeef5;
$border-lightex          : #e2f6fc;
