<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Travel Manager</title>
    <script src="https://kit.fontawesome.com/a69a2eb4df.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app">
      <header class="noselect">
        <div class="nav-list">
          <a src="/"><img src="assets/img/logo.png" alt="TM" class="logo"></a>
          <p>Travel Manager</p>
        </div>
        <a class="txt-btn add-plan-btn"><i class="fab fa-free-code-camp"></i> New plan</a>
      </header>
      <main>
        <div id="plans">
          <!-- place to mount plan cards -->
        </div>
        <a class="btn super add-plan-btn"><i class="fab fa-free-code-camp"></i> New plan</a>
        <div id="inputForm">
          <!-- place to mount the input form -->
        </div>
      </main>
      <footer>
        <p>
          Have a nice day! Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.
        </p>
      </footer>
    </div>
  </body>
  <!-- service worker connection moved to index.js -->
</html>
